


<h3 align="center">所有的文章</h3>
<%= form_tag articles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
<% end %>

 <div class="row">
        <div class="span12">
        	<ul>
        	<%@articles.each do |article|%>
        		<li><%=link_to article.title,article_path(article)%></br>
        			<%=article.content%>
        		</li>
        	<%end%>
          	</ul>
        </div>           
</div>






